/* Global */

#main_content {
    width: 100% !important;
}

body{
    background-color: #F5F5F5;
}


/* Master */

.ui.master.grid {
    position: absolute;
    width: 100%;
    z-index: +100;
}

.master.main_top.menu {
    padding: 3% 6%;
    width: 100%;
}

.dark_bg {
    background-color: #1b1c1d !important;
}


/* HOME Page */

.slide.home-1 {
    background: url("../data/img/home/1.jpg") 0% 25% / cover no-repeat;
}

.home-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 15%;
    margin-right: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-2 {
    background: url("../data/img/home/2.jpg") 0% 77% / cover no-repeat;
}

.slide.home-3 {
    background: url("../data/img/home/3.jpg") 0% 21% / cover no-repeat;
}

.slide.home-4 {
    background: url("../data/img/home/4.jpg") 0% 42% / cover no-repeat;
}

.owl-pagination {
    margin-top: -4%;
}

@media (max-width: 880px) {
    .slide.home-1 {
        background: url("../data/img/home/1.jpg") 27% 25% / cover no-repeat;
    }
    .home-1 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 12%;
        bottom: 5%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-2 {
        background: url("../data/img/home/2.jpg") 0% 77% / cover no-repeat;
    }
    .slide.home-3 {
        background: url("../data/img/home/3.jpg") 0% 21% / cover no-repeat;
    }
    .slide.home-4 {
        background: url("../data/img/home/4.jpg") 36% 42% / cover no-repeat;
    }
    .owl-pagination,
    .owl-controls {
        display: none;
        margin-top: 0px !important;
    }
}

.owl-theme .owl-controls .owl-page span {
    background-color: aliceblue;
}

.owl-page .active > span {
    opacity: 0.9;
}


/* About Page */

.double_divider {
    height: 0.5rem;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 1px;
    margin-bottom: 1px;
}

.double_divider_bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.transition_blue.item.active {
    font-weight: 800;

}

.transition_blue.item {
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    color: black;
}

.transition_blue.item:hover {
    color: #90B0BA !important;
    border-color: #90B0BA !important;
}

.dark_light_blue{
    color:#7d9aa3 !important;
}

.img_article_header{
    background: url("../data/img/about/4.jpg");
    background-size: cover;
    margin:-3rem;
    height:auto;
}


.ui.hidden.master.divider{
    margin:3.5rem;
}

h1.chi.logo.header{
    font-size: -webkit-xxx-large;
}

h1.eng.logo.header{
    color:rgba(255,255,255,0.85);
}

h1.page.logo.header{
    font-size: 3rem;
}

.slide.about-1-bg {
    background: url("../data/img/about/2.jpg") 0% 25% / cover no-repeat;
    width:100%;
    position:absolute;
    z-index: -100;
}

.slide.about-1 {
    background: rgba(0, 0, 0, 0.1);
    width:100%;
    position:absolute;
}

.about-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 15%;
    margin-right: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}
