/* Global */

#main_content {
    width: 100% !important;
}

body {
    background-color: #F6F7F7;
}

.ui.hidden.narrow.divider {
    margin-bottom: 0rem;
}

.ui.large.hidden.divider {
    margin: 3rem 0rem !important;
}

.ui.huge.hidden.divider {
    margin: 10rem 0rem !important;
}

.description {
    font-size: 1.5rem;
    line-height: 3rem;
}

.small.description {
    font-size: 1rem;
    line-height: 2rem;
}

p.line-3.small.description {
    height: 6rem !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.role_in_modal {
    color: lightseagreen;
}

.fb_link {
    color: currentColor;
}

span.floating.right {
    color: teal;
    float: right;
}

ol.ui.modal_list.list {
    font-size: 1rem;
}


h1.chi.logo.header {
    font-size: 4rem;
}

h1.eng.logo.header {
    color: rgba(255, 255, 255, 0.85);
}

h1.page.logo.header {
    font-size: 3rem;
}


/* Loading Animation */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../data/icon/ajax-loader.gif) center no-repeat #fff;
}


/* Override Semantic Ui Element */

i.inverted.bordered.green.icon,
i.inverted.circular.green.icon {
    background-color: #15c671!important;
}

.ui.embed {
    max-width: 99.9%;
}

.ui.vertical.inverted.menu .menu .item,
.ui.vertical.inverted.menu .menu .active .item {
    color: rgba(255, 255, 255, .9) !important;
}

.video.menu.inverted.transparent_bg > a > span {
    color: rgba(255, 255, 255, .9) !important;
}

.ui.menu .ui.dropdown .menu>.active.item {
    color: rgba(255, 255, 255, .95)!important;
}

.ui.secondary.vertical.pointing.menu .item {
    color: rgba(255, 255, 255, 0.85);
}


/* Master */

.ui.master.grid {
    position: absolute;
    width: 100%;
    z-index: +100;
}

.master.main_top.menu {
    padding: 3% 6%;
    width: 100%;
}

.dark_bg {
    background-color: #1b1c1d !important;
}


/* HOME Page */

.slide.home-1 {
    background: url("../data/img/home/1.jpg") 0% 25% / cover no-repeat;
}

.home-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 18%;
    margin-right: 45%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-2 {
    background: url("../data/img/home/2.jpg") 0% 77% / cover no-repeat;

}

.home-2 > p > span.photo_font {
    color: aliceblue;
    float: left;
    margin-top: 10%;
    margin-left: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-3 {
    background: url("../data/img/home/3.jpg") 0% 21% / cover no-repeat;
}

.home-3 > p > span.photo_font {
    color: aliceblue;
    float: left;
    margin-top: 35%;
    margin-left: 10%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-4 {
    background: url("../data/img/home/4.jpg") 0% 42% / cover no-repeat;
}

.home-4 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 17%;
    margin-right: 35%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-5 {
    background: url("../data/img/home/5.jpg") 0% 42% / cover no-repeat;
}

.home-5 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 20%;
    margin-right: 70%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.slide.home-6 {
    background: url("../data/img/home/6.jpg") 0% 42% / cover no-repeat;
}

.home-6 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 18%;
    margin-right: 25%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.owl-pagination {
    margin-top: -4%;
}

@media (max-width: 880px) {
    .slide.home-1 {
        background: url("../data/img/home/1.jpg") 22% 0% / cover no-repeat;
    }
    .home-1 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 8%;
        bottom: 12%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-2 {
        background: url("../data/img/home/2.jpg") 0% 77% / cover no-repeat;
    }
    .home-2 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 12%;
        bottom: 10%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-3 {
        background: url("../data/img/home/3.jpg") 45% 0% / cover no-repeat;
    }
    .home-3 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin-left: 40%;
        bottom: 15%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-4 {
        background: url("../data/img/home/4.jpg") 36% 42% / cover no-repeat;
    }
    .home-4 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 12%;
        bottom: 35%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-5 {
        background: url("../data/img/home/5.jpg") 35% 0% / cover no-repeat;
    }
    .home-5 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 12%;
        bottom: 29%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .slide.home-6 {
        background: url("../data/img/home/6.jpg") 36% 42% / cover no-repeat;
    }
    .home-6 > p > span.photo_font {
        color: aliceblue;
        position: absolute;
        margin: 12%;
        bottom: 5%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .owl-pagination,
    .owl-controls {
        display: none;
        margin-top: 0px !important;
    }
}

.owl-theme .owl-controls .owl-page span {
    background-color: aliceblue;
}

.owl-page .active > span {
    opacity: 0.9;
}


/* About Page */

.page.sub.header {
    color: rgba(255, 255, 255, .95) !important;
    font-size: 1.5rem !important;
}

.ui.page.light_blue.grid {
    background-color: #9DD4D1;
}

.list.segment {
    text-align: left;
    margin: 0rem 4rem;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 880px) {
    .list.segment {
        text-align: left;
        margin: 0rem 0rem;
        color: rgba(0, 0, 0, 0.5);
    }
}

.double_divider {
    height: 0.5rem;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 1px;
    margin-bottom: 1px;
}

.double_divider_bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.transition_blue.item.active {
    font-weight: 800;
}

.transition_blue.item {
    -o-transition: .3s !important;
    -ms-transition: .3s !important;
    -moz-transition: .3s !important;
    -webkit-transition: .3s !important;
    transition: .3s !important;
    color: black;
}

.transition_blue.item:hover {
    color: #90B0BA !important;
    border-color: #90B0BA !important;
}

.dark_light_blue {
    color: #7d9aa3 !important;
}

.ui.hidden.master.divider {
    margin: 3.5rem;
}

.slide.about-1-bg {
    background: url("../data/img/about/2.jpg") 0% 25% / cover no-repeat;
    width: 100%;
    position: absolute;
    z-index: -100;
}

@media (max-width: 880px) {
    .slide.about-1-bg {
        background: url("../data/img/about/2.jpg") 60% 25% / cover no-repeat;
        width: 100%;
        position: absolute;
        z-index: -100;
    }
}

.slide.about-1 {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
}

.about-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 15%;
    margin-right: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}


/* Course Page */

.slide.course-1-bg {
    background: url("../data/img/course/1.jpg") 0% 31% / cover no-repeat;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.slide.course-1 {
    background: rgba(0, 0, 0, 0.13);
    width: 100%;
    position: absolute;
}

table.ui.very.padded.celled.structured.table {
    box-shadow: 0px 2px 8px lightgrey;
}

h4.ui.blue.no_margin_bottom.header {
    margin-bottom: 0rem;
}

table.ui.unstackable.basic.celled.padded.structured.table {
    background: white;
    box-shadow: 0px 2px 8px lightgrey;
}

.ui.basic.table.course thead {
    background-color: aliceblue;
}

#a_class, #b_class, #c_class, #d_class{
    cursor: pointer;
}

/* Flok Group */

.slide.flok_group-1-bg {
    background: url("../data/img/flok_group/1.jpg") 0% 0% / cover no-repeat;
    width: 100%;
    position: absolute;
    z-index: -100;
}

@media (max-width: 880px) {
    .slide.flok_group-1-bg {
        background: url("../data/img/flok_group/1.jpg") 11% 0% / cover no-repeat;
        width: 100%;
        position: absolute;
        z-index: -100;
    }
}

.slide.flok_group-1 {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
}

.flok_group-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 15%;
    margin-right: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.ui.page.page.history.grid {
    margin: 1rem;
    margin-top: 3rem;
}

@media (max-width: 880px) {
    p.description.teal.margin.center {
        margin-left: 2rem;
    }
}

p.description.teal {
    color: #21A1E0;
}

span.teal.margin.left.top {
    margin-left: 6rem;
    //margin-top: 2rem;
    //margin-bottom: 0.5rem;
    color:slategrey;
    font-weight: 600;
}

span.teal.margin.right.bottom {
    margin-left: 18rem;
    //margin-right: 5rem;
    text-align: right;
    right:0;
    color:slategrey;
    font-weight: 600;
}

span.margin.left.footer{
    margin-left: -10rem;
}

#music_video {
    width: 100%;
}

.embed.video {
    display: none;
}

.embed.video.display {
    display: block;
}

.ui.page.video.grid {
    background-color: #bfbbbb;
    background: url("../data/img/flok_group/3.jpg") 0% 46% / cover no-repeat;
}

.inverted.transparent_bg {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.video.menu.inverted.transparent_bg {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.video.menu.inverted.transparent_bg > a {
    color: white !important;
}


/* Registration Page */

.slide.registration-1-bg {
    background: url("../data/img/registration/1.jpg") 0% 60% / cover no-repeat;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.slide.registration-1 {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
}

.registration-1 > p > span.photo_font {
    color: aliceblue;
    float: right;
    margin-top: 15%;
    margin-right: 17%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.resize_google_form {
    margin: -1rem !important;
    width: 105% !important;
    max-width: inherit !important;
    max-height: inherit !important;
}
